<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us - Company List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>

<body>
    <div id="page-content">
        <header>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About Us</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section id="about-us">
                <h1>About Us</h1>
                <p>This website template is free to use. You can put the template on your own web server to crawl the
                    web.</p>
            </section>
        </main>
    </div>
    <footer>
        <p>Website that is free to use for web crawling</p>
    </footer>
</body>

</html>